.container{
    border: solid 2px green;
    background-color: azure;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center; 
    grid-template-areas: 
    "header header header"
    "side main main"
    "side main main";
}
.item{
    font-size: 2rem;
}
.item-1{
    border: solid 2px rgb(0, 0, 0);
    background-color: aquamarine;
    grid-area: header;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}
.item-2{
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(9, 54, 39);
    grid-area: side;
    /* grid-row: 2/4; */
    
}
.item-3{
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(44, 64, 248);
    grid-area: main;
    /* grid-area: 2/2/4/4; */
}