.container{
    border: solid 4px rgb(186, 56, 247);
    
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-auto-rows:200px;
    grid-auto-flow: row;
    gap: 20px;
    height: 800px;
    padding: 20px;
    
    /* justify-content: center;
    align-content: start; */
    place-content: center;
    justify-items: end;
    align-items: end;
}
.item{
    border: solid 4px rgb(7, 87, 49);
    font-size: 4rem;    
    
    color: rgb(66, 66, 66);
    font-weight: bolder;
    z-index: 1;
}
